@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 55%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 55%;
    }
}

body {
    background-color: #f0eff5;
}

a {
    text-decoration: none;
    color: #0366d6;
}

p {
    margin: 0;
    padding: 0.5em 0;
}

blockquote {
    margin: 0;
    padding: 0 1em;
    position: relative;
    border-left: 5px solid #ddd;
}

blockquote p {
    padding: 0;
    margin: 0;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #d1d5da;
    border-bottom-color: #c6cbd1;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #c6cbd1;
}

code {
    padding: 0.2em 0.4em;
    margin: 0;
    color: #6a737d;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}

table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th {
    white-space: nowrap;
}

th, td {
    padding: .4em;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.container {
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fff;
}

.header {
}

.header a {
    color: #3e3e3e;
}

.header .title {
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
}

.header .subtitle {
    font-family: Georgia, sans-serif;
    font-size: 0.9em;
    font-style: italic;
    margin: 0;
    padding: 5px 0 0 10px;
    line-height: 1.45;
    position: relative;
    color: #7a7a7a;
    text-align: center;
}

.header .about {
    padding-top: 5px;
    text-align: center;
}

.header .navigation {
    padding-top: 15px;
    text-align: center;
    color: #3e3e3e;
}

.header:after {
    content: ' ';
    border-bottom: 1px solid #e5e5e7;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #3e3e3e;
}

.content .post-section a {
    color: #3e3e3e;
}

.content .post-section:after {
    content: ' ';
    border-bottom: 1px solid #e5e5e7;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content .post-section .post-title {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 10px;
    color: #3e3e3e;
}

.content .post-section .post-summary {
    padding-top: 10px;
    color: grey;
    font-size: 0.9em;
}

.content .post-section .post-date .post-category {
    padding-top: 10px;
    color: grey;
    font-size: 0.9em;
}

.content .post .post-title {
    font-size: 24px;
}

.content .post .post-title:after {
    content: ' ';
    border-bottom: 1px solid #e5e5e7;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-meta {
    padding-top: 0.5em;
}

.post-meta .post-block {
    padding-right: 0.5em;
}

.post-meta .post-block .post-date,
.post-meta .post-block .post-author,
.post-meta .post-block .post-pv,
.post-meta .post-block .post-category {
    color: grey;
    padding-left: 0.5em;
    font-size: 0.9em;
}

.content .post .post-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.content h1,
.content h2,
.content h3 {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #3e3e3e;
}

.content h1 {
    font-size: 1.3em;
}

.content h2 {
    font-size: 1.2em;
}

.content h3 {
    font-size: 1.1em;
}

.content h4,
.content h5,
.content h6 {
    font-size: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.content .post ol,
.content .post ul {
    padding-left: 1em;
}

.think {
    padding: 0.5em 1em;
    margin: 1em 0;
    position: relative;
    border: 1px solid #e3e3e3;
    border-left: 5px solid #ddd;
    border-radius: 0.25em;
}

.think-content {

}

.think .think-content p {
    padding: 0.5em 0;
    margin: 0;
}

.think .think-footer p {
    padding: 0;
    margin: 0;
}

.think-footer {
    margin-right: 1em;
    text-align: right;
    color: grey;
    font-size: 0.9em;
}

.footer {
    color: #999999;
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
}

.footer a {
    color: #3e3e3e;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f6f8fa;
    border-radius: 3px;
    border: 1px solid #f6f8fa;
}

.hljs-comment,
.hljs-quote {
    color: #998;
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
    color: #333;
    font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
    color: #008080;
}

.hljs-string,
.hljs-doctag {
    color: #da322f;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
    color: #900;
    font-weight: bold;
}

.hljs-subst {
    font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
    color: #2f8ad2;
    font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
    color: #000080;
    font-weight: normal;
}

.hljs-regexp,
.hljs-link {
    color: #859a00;
}

.hljs-symbol,
.hljs-bullet {
    color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
    color: #2f8ad2;
}

.hljs-meta {
    color: #93a1a1;
    font-weight: bold;
}

.hljs-deletion {
    background: #fdd;
}

.hljs-addition {
    background: #dfd;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}